@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full max-w-screen-2xl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
  @apply flex flex-col items-center;
  @apply bg-lightGray text-lightBlack;
}

.swiper .swiper-wrapper {
  height: 60%;
}
